# Clustering

## Importer le fichier

In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
path = "~/Documents/PDS/Cours/Data/bw_sample.csv"
train = pd.read_csv(path, sep=",",header=None)
cols = ["inf_2", "inf_7", "inf_15", "inf_30", "inf_50", "sup_50","mean_jx", "min_jx", 
        "max_jx", "nb_occ", "std","client_id", "mode_nb", "mode_jx"]
train.columns = cols

# Affichage des cinq premi√®res lignes
train.head()

# Inf_2 = Nombre de voyages entre 0 et 2
# Inf_7 = Nombre de voyages entre 2 et 7
# Inf_15 = Nombre de voyages entre 7 et 15

,inf_2,inf_7,inf_15,inf_30,inf_50,sup_50,mean_jx,min_jx,max_jx,nb_occ,std,client_id,mode_nb,mode_jx
0,0,0,0,1,1,10,80.666667,24,106,12,584.620370,014f67e5fef96392cfd741cfccf1406937e0c339,3,85
1,62,30,15,16,9,24,18.814103,0,109,156,286.036328,029017569f3d22cede9b695e9905dbf3c9609519,41,0
2,33,1,17,0,2,0,5.452830,0,32,53,28.861852,02b9285734f3cc2e87f7f6003dbfed388e9f2c94,21,0
3,4,5,12,26,31,13,33.472527,0,96,91,247.480028,03dc39b6cf57df76e8a28b3dc428a6a548711a60,6,30
4,2,0,0,0,0,0,0.000000,0,0,2,0.000000,0440f4e872cf9af3c111af466398dea51f49e62f,2,0

In [3]:
# S√©lectionne les colonnes importantes et ajoute l'index
cols = ["client_id","inf_2", "inf_7", "inf_15", "inf_30", "inf_50", "sup_50","nb_occ","mean_jx", "mode_jx"]
df = train[cols]
df.set_index("client_id", inplace=True, drop=True)
df.head()

,inf_2,inf_7,inf_15,inf_30,inf_50,sup_50,nb_occ,mean_jx,mode_jx
client_id,,,,,,,,,
014f67e5fef96392cfd741cfccf1406937e0c339,0,0,0,1,1,10,12,80.666667,85
029017569f3d22cede9b695e9905dbf3c9609519,62,30,15,16,9,24,156,18.814103,0
02b9285734f3cc2e87f7f6003dbfed388e9f2c94,33,1,17,0,2,0,53,5.452830,0
03dc39b6cf57df76e8a28b3dc428a6a548711a60,4,5,12,26,31,13,91,33.472527,30
0440f4e872cf9af3c111af466398dea51f49e62f,2,0,0,0,0,0,2,0.000000,0

In [4]:
col = df.apply(lambda row :(row["inf_2"]/row["nb_occ"]), axis = 1) 
df ["prop_inf_2"] = col
col = df.apply(lambda row :(row["inf_7"]/row["nb_occ"]), axis = 1) 
df ["prop_inf_7"] = col
col = df.apply(lambda row :(row["inf_15"]/row["nb_occ"]), axis = 1) 
df ["prop_inf_15"] = col
col = df.apply(lambda row :(row["inf_30"]/row["nb_occ"]), axis = 1) 
df ["prop_inf_30"] = col
col = df.apply(lambda row :(row["inf_50"]/row["nb_occ"]), axis = 1) 
df ["prop_inf_50"] = col
col = df.apply(lambda row :(row["sup_50"]/row["nb_occ"]), axis = 1) 
df ["prop_sup_50"] = col
df.head()

C:\Users\Charline\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Charline\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Charline\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Charline\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,inf_2,inf_7,inf_15,inf_30,inf_50,sup_50,nb_occ,mean_jx,mode_jx,prop_inf_2,prop_inf_7,prop_inf_15,prop_inf_30,prop_inf_50,prop_sup_50
client_id,,,,,,,,,,,,,,,
014f67e5fef96392cfd741cfccf1406937e0c339,0,0,0,1,1,10,12,80.666667,85,0.000000,0.000000,0.000000,0.083333,0.083333,0.833333
029017569f3d22cede9b695e9905dbf3c9609519,62,30,15,16,9,24,156,18.814103,0,0.397436,0.192308,0.096154,0.102564,0.057692,0.153846
02b9285734f3cc2e87f7f6003dbfed388e9f2c94,33,1,17,0,2,0,53,5.452830,0,0.622642,0.018868,0.320755,0.000000,0.037736,0.000000
03dc39b6cf57df76e8a28b3dc428a6a548711a60,4,5,12,26,31,13,91,33.472527,30,0.043956,0.054945,0.131868,0.285714,0.340659,0.142857
0440f4e872cf9af3c111af466398dea51f49e62f,2,0,0,0,0,0,2,0.000000,0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [5]:
cols = ["prop_inf_2", "prop_inf_7", "prop_inf_15", "prop_inf_30", "prop_inf_50", "prop_sup_50", "mean_jx", "mode_jx"]
df = df[cols]

In [6]:
df.head()

,prop_inf_2,prop_inf_7,prop_inf_15,prop_inf_30,prop_inf_50,prop_sup_50,mean_jx,mode_jx
client_id,,,,,,,,
014f67e5fef96392cfd741cfccf1406937e0c339,0.000000,0.000000,0.000000,0.083333,0.083333,0.833333,80.666667,85
029017569f3d22cede9b695e9905dbf3c9609519,0.397436,0.192308,0.096154,0.102564,0.057692,0.153846,18.814103,0
02b9285734f3cc2e87f7f6003dbfed388e9f2c94,0.622642,0.018868,0.320755,0.000000,0.037736,0.000000,5.452830,0
03dc39b6cf57df76e8a28b3dc428a6a548711a60,0.043956,0.054945,0.131868,0.285714,0.340659,0.142857,33.472527,30
0440f4e872cf9af3c111af466398dea51f49e62f,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0

## KMEANS

In [7]:
# KMEANS
cols = ['prop_inf_2', 'prop_inf_7', 'prop_inf_15', 'prop_inf_30',
         'prop_inf_50', 'prop_sup_50']
X = df[cols]
kmeans = KMeans(n_clusters=5, random_state=0).fit(X)

In [8]:
# Appliquer KMEANS
labels = kmeans.predict(X)

In [9]:
# R√©cup√©rer les labels
df1 = df
df1['label'] = labels

In [10]:
df1.head()

,prop_inf_2,prop_inf_7,prop_inf_15,prop_inf_30,prop_inf_50,prop_sup_50,mean_jx,mode_jx,label
client_id,,,,,,,,,
014f67e5fef96392cfd741cfccf1406937e0c339,0.000000,0.000000,0.000000,0.083333,0.083333,0.833333,80.666667,85,4
029017569f3d22cede9b695e9905dbf3c9609519,0.397436,0.192308,0.096154,0.102564,0.057692,0.153846,18.814103,0,0
02b9285734f3cc2e87f7f6003dbfed388e9f2c94,0.622642,0.018868,0.320755,0.000000,0.037736,0.000000,5.452830,0,0
03dc39b6cf57df76e8a28b3dc428a6a548711a60,0.043956,0.054945,0.131868,0.285714,0.340659,0.142857,33.472527,30,1
0440f4e872cf9af3c111af466398dea51f49e62f,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0

In [11]:
df1.groupby("label").count()

,prop_inf_2,prop_inf_7,prop_inf_15,prop_inf_30,prop_inf_50,prop_sup_50,mean_jx,mode_jx
label,,,,,,,,
0,28583,28583,28583,28583,28583,28583,28583,28583
1,27284,27284,27284,27284,27284,27284,27284,27284
2,22927,22927,22927,22927,22927,22927,22927,22927
3,10864,10864,10864,10864,10864,10864,10864,10864
4,10617,10617,10617,10617,10617,10617,10617,10617

In [12]:
df1 = df1.groupby("label").mean()
df1

,prop_inf_2,prop_inf_7,prop_inf_15,prop_inf_30,prop_inf_50,prop_sup_50,mean_jx,mode_jx
label,,,,,,,,
0,0.779368,0.110016,0.047443,0.029642,0.017762,0.015768,4.168296,0.991289
1,0.113800,0.090592,0.103702,0.370675,0.241349,0.079882,25.332540,20.444400
2,0.200849,0.578490,0.105494,0.057321,0.030822,0.027025,8.501909,4.590090
3,0.095840,0.105303,0.656107,0.080297,0.032756,0.029697,13.068671,10.577320
4,0.063579,0.042762,0.038929,0.052631,0.075557,0.726542,63.030562,63.138551

def compute_silhouette(X=None, clustering_func=None, metric=None,
                       param=None, threshold=None):
    """compute silhouette score which result to average score of each sample."""
    labels = clustering_func(param, X)['labels']
    classes_count = [list(labels).count(i) for i in range(param)]
    classes_vol = [threshold > i for i in classes_count]
 
    limit = len(X.index) - 1
    labels_check = limit > len(set(labels)) > 1
 
    if labels_check:
        if classes_vol.count(True) > 0:
            logger.info('there are not enough sample in each group {} for method {} did nt match'
                        .format(classes_count, clustering_func))
            print('there are not enough sample in each group', classes_count, 'for method', clustering_func, 'did nt match')
            silhouette = 0
        else:
            # this computation requieres labels to be an array and not a list
            silhouette = metrics.silhouette_score(X, labels, metric=metric)
    else:
        silhouette = 0
 
    logger.info("for param {}, labels check is {}".format(param, labels_check))
    logger.info("silhouette is {s} for k clusters {k}".format(s=silhouette, k=param))
 
    return silhouette, classes_count

def k_means(n_clusters=None, X=None, init_centers=None, max_workers=-1):

    is_dataset_big_enough = len(X.index) > 1
    n_clusters_check = len(X.index) > n_clusters
    if is_dataset_big_enough and n_clusters_check:
        if init_centers:
            model = cluster.KMeans(n_clusters=n_clusters, init=init_centers, precompute_distances='auto', n_jobs=max_workers)
        else:
            model = cluster.KMeans(n_clusters=n_clusters, init='k-means++', precompute_distances='auto', n_jobs=max_workers)

        model.fit(X)
        labels = model.labels_
        centers = model.cluster_centers_

    else:
        labels = [0] * len(X.index)
        centers = X.iloc[0]

    return {'labels': labels, 'centers': centers}

compute_silhouette(X, clustering_func= k_means, metric='euclidiean', param=5, threshold=100000)

## GMM

In [13]:
from sklearn.mixture import GaussianMixture

In [14]:
cols = ['prop_inf_2', 'prop_inf_7', 'prop_inf_15', 'prop_inf_30',
         'prop_inf_50', 'prop_sup_50']
X = df[cols]
gmm = GaussianMixture(n_components=5, covariance_type='full').fit(X)

In [15]:
labels = gmm.predict(X)

In [16]:
df2 = df
df2['label'] = labels

In [17]:
df2.head()

,prop_inf_2,prop_inf_7,prop_inf_15,prop_inf_30,prop_inf_50,prop_sup_50,mean_jx,mode_jx,label
client_id,,,,,,,,,
014f67e5fef96392cfd741cfccf1406937e0c339,0.000000,0.000000,0.000000,0.083333,0.083333,0.833333,80.666667,85,2
029017569f3d22cede9b695e9905dbf3c9609519,0.397436,0.192308,0.096154,0.102564,0.057692,0.153846,18.814103,0,3
02b9285734f3cc2e87f7f6003dbfed388e9f2c94,0.622642,0.018868,0.320755,0.000000,0.037736,0.000000,5.452830,0,4
03dc39b6cf57df76e8a28b3dc428a6a548711a60,0.043956,0.054945,0.131868,0.285714,0.340659,0.142857,33.472527,30,3
0440f4e872cf9af3c111af466398dea51f49e62f,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0

In [18]:
df2.groupby("label").count()

,prop_inf_2,prop_inf_7,prop_inf_15,prop_inf_30,prop_inf_50,prop_sup_50,mean_jx,mode_jx
label,,,,,,,,
0,20409,20409,20409,20409,20409,20409,20409,20409
1,24449,24449,24449,24449,24449,24449,24449,24449
2,13629,13629,13629,13629,13629,13629,13629,13629
3,29257,29257,29257,29257,29257,29257,29257,29257
4,12531,12531,12531,12531,12531,12531,12531,12531

In [19]:
df2 = df2.groupby("label").mean()
df2

,prop_inf_2,prop_inf_7,prop_inf_15,prop_inf_30,prop_inf_50,prop_sup_50,mean_jx,mode_jx
label,,,,,,,,
0,0.662730,3.372685e-01,1.145009e-06,0.000000,0.000000,6.013721e-07,2.092532,1.971777
1,0.312866,2.343479e-01,3.202466e-01,0.132531,0.000004,4.557827e-06,7.733103,6.306638
2,0.025817,1.871759e-07,2.310959e-07,0.325657,0.263084,3.854413e-01,48.476023,48.161787
3,0.225627,1.764401e-01,1.445699e-01,0.142030,0.105137,2.061961e-01,25.801163,17.316027
4,0.285272,2.156548e-01,1.664646e-01,0.149395,0.183201,1.240438e-05,13.494112,9.511212

def gmm_components(X=None, threshold=None):
    """
    Check if X is likely to be composed of several gaussians, i.e command behaviors.
    Returns number of gaussians which GMM model fits best by the information criteria,
    penalized by a minimum number of transaction by split.
    Return optimal number of components for the split.
    """
    n_components = [1, 2, 3, 4, 5]
    criterias = []

    for n_component in n_components:

        model = GMM(n_components=n_component)
        model.fit(X)

        classes = list(model.predict(X))
        classes_count = [classes.count(i) for i in range(n_component)]
        classes_vol = [threshold > i for i in classes_count]

        robust_aic = model.aic(X)

        if classes_vol.count(True) > 0:
                robust_aic = + np.inf

        criterias.append(robust_aic)

        print 'GMM with ', n_component, ': aic ', criterias[n_component - 1]
        
        for mean, std, cat in zip(model.means_, np.sqrt(model.covars_), range(n_component)):
            ic1 = mean[0] - (1.96 * std[0]) / classes.count(cat)
            ic2 = mean[0] + (1.96 * std[0]) / classes.count(cat)
            print 'confidence interval for class: ', cat + 1, ': ', ic1, ic2, 'with', classes.count(cat), 'transactions', 'while threshold is', threshold

    idx_min = criterias.index(min(criterias)) + 1

    return idx_min

idx = gmm_components(X=X, threshold=2000)

idx

for i in [1,2,3,4,5,6,7,8,9,10]:
    compute_silhouette(df2.head(5000), k_means, 'euclidean', 5, 10000)